body {
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
}

h2 {
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 1rem;
}

option,
select {
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 3px double black;
}

.title {
    background-color: darkslategrey;
    color: white;
    line-height: 4.5rem;
    margin: -.5rem
}

.textbox {
 width: 100%;
 height: 2.5rem;
 background-color: lightgray;
 border-radius: 0.3rem;
 border-style: none;
 font-size: 1.2rem;
}

input[id="zip"] {
    width: 30%;
}
