body {
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
    font-size: 17px;
}

h2 {
    color: black;
    padding-top: 1.5rem;
    margin-bottom: 0rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 1rem;
}

option,
select {
    text-transform: uppercase;
}

button {
    background-color: darkslategray;
    color: white;
    width: 50%;
    align-self: center;
    height: 3rem;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
}

.contactdiv > label {
    width: 150px;
    margin: 26px 0 15px 0;
}
.textbox {
    width: 100%;
    height: 2.5rem;
    background-color: lightgray;
    border-radius: 0.3rem;
    border-style: none;
    font-size: 1.2rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
   }

.wrapper {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 3px double black;
}

.title {
    background-color: darkslategrey;
    color: white;
    line-height: 4.5rem;
    margin: -.5rem
}

.contactdiv {
    display: flex;
    flex-direction: column;
}

.section1 {
    border-bottom: 2px solid black;
    background-color: rgba(230, 207, 182, 0.507);
}

.section2 {
    line-height: 1.5;
    
}

.selectors {
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px; 
}

input[id=zip] {
    width: 30%;
}

::placeholder {
    font-size: .8rem;
    font-style: italic;
    padding-left: 1rem;
}

input[placeholder="required"]::placeholder {
    font-size: .8rem;
    text-align: end;
    font-style: italic;
    padding-right: 1rem;
    text-transform: capitalize;
}

.textbox:focus {
    background-color: rgb(231, 231, 231);
    transition-property: background-color;
    transition-duration: 0.75s;
}

@media (min-width:768px) {
    
    .contactdiv {
        flex-direction: row;
        
    }

    .textbox {
        max-width: 70vh;
        margin: 15px 0;
    }

    .wrapper {
        align-items: center;
    }

    .intro {
        width: 50vh;
    }

    .title {
        margin-left: -128px;
        margin-right: -128px;
    }


}